

<script src="@Url.Content("~/Scripts/jquery-3.7.1.min.js")" type="text/javascript"></script>
<div class="container mt-5">
    @if (User.Identity.IsAuthenticated)
    {

        <div class="text-center">
            <h2>Welcome, @User.Identity.Name!</h2>

            
            
            <a href="/Account/Logout" class="btn btn-danger btn-lg">Logout</a>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Shape Calculator
                    </div>
                    <div class="card-body">
                     
                        <a href="/Shape/Index" class="btn btn-success btn-block">Go to calculator</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        User Management
                    </div>
                    <div class="card-body">
                        <a href="/User/Index" class="btn btn-primary btn-block">View Users</a>
                        
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="jumbotron text-center">
            <h2>Welcome to Our Application</h2>
            <p class="lead">Please login or register to access more features.</p>
            <a href="/Account/Login" class="btn btn-success btn-lg mr-2">Login</a>
            <a href="/Account/Register" class="btn btn-primary btn-lg">Register</a>
        </div>
    }
</div>
